* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color {
  /* --white: #ffffff; */
  color: white;
}
body {
  background-color: black;
  color: rgb(105, 104, 104);
}
.active-route{
  border-bottom: 1px solid #0d6efd;;
}

.card-wrapper {
  max-height: 90vh;
  overflow-y: scroll;
}

.custom-90vh {
  height: 90vh !important;
}
.card-title {
  color: white !important;
}
