.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  /* height: 100vh; */
}
.password-input, .confirm-password-input {
  position: relative;
  display: flex;
  align-items: center;
}
.password-input i, .confirm-password-input i {
  position: absolute;
  left: 159px;
  font-size: 13px;
}
input{
  
}
